
.page-activity {
	padding-top: 0;
	display: none;
}

.activity {
	display: flex;
	gap: 30px;
}

.activity__item {
	position: relative;
	flex-basis: calc((100% - 60px) / 3);
}

.activity__item-wrap {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--activity-bg-card-color);
}

.activity__item-title {

	@include font(700, 14px, calc(16 / 14), 0.03em);
		
	text-align: center;
	text-transform: uppercase;
	color: var(--white-text-color);
}