// секція переваги

.benefits {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.benefits__item {
	
	@media screen and (min-width: 768px) {
		flex-basis: calc((100% - 30px) / 2);
    }

	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 90px) / 4);
	}
}

.benefits__icon-wrap {
	height: 120px;
	margin-bottom: 30px;

	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: var(--secondary-bg-color);
	border-radius: 4px;
}

.benefits__title {
	margin-bottom: 10px;

	@include font(null, 14px, calc(16 / 14), 0.03em);
	
	text-transform: uppercase;
	color: var(--secondary-text-color);
}

.benefits__text {

	@include font(null, 14px, calc(24 / 14), 0.03em);
	
	color: var(--primary-text-color);
}