// секція-команда

.page-team {
	background-color: var(--secondary-bg-color);
}

.team-member {
	@include tablet {
		display: flex;
	    flex-wrap: wrap;
	    gap: 30px;
    }
	
}

.team-member__item {
	margin-bottom: 30px;
	border-radius: 0px 0px 4px 4px;
	background-color: var(--primary-bg-color);
	box-shadow: var(--team-card-shadow);

	@include tablet {
		margin-bottom: 0;
		flex-basis: calc((100% - 30px) / 2);
    }

	@include desktop {
		flex-basis: calc((100% - 90px) / 4);
	}
}

.team-member__content {
	padding: 30px 32px;
	text-align: center;
}

.team-member__name {
	margin-bottom: 10px;
	@include font(500, 16px, calc(19 / 16), 0.03em);
	text-align: center;
	color: var(--secondary-text-color);
}

.team-member__pos {
	margin-bottom: 16px;
	@include font(null, 16px, calc(19 / 16), 0.03em);
	text-align: center;
	color: var(--primary-text-color);
}