// загальні значення кнопок сайту

.hero-btn, .subscribe-btn, .order-btn {
	width: 200px;
	height: 50px;
	@include font(700, 16px, calc(30 / 16), 0.06em);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--white-text-color);
	background-color: var(--btn-color);
	box-shadow: var(--btn-shadow);
	transition: background-color 250ms var(--cubic);
}

.hero-btn:hover,
.hero-btn:focus,
.subscribe-btn:hover,
.subscribe-btn:focus,
.order-btn:hover,
.order-btn:focus  {
	background-color: var(--btn-accent-color);
}