// загальні значення соц.мереж

.soc-network {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.soc-network__item {
	width: 44px;
	height: 44px;
}

.soc-network__link {
	width: 100%;
	height: 100%;

    display: flex;
	justify-content: center;
	align-items: center;
	
	border-radius: 50%;
    
	color: var(--primary-icon-color);
	transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
    
    &:hover,
    &:focus {
	background-color: var(--accent-color);
	color: var(--secondary-icon-color);
    }
}

.soc-network__icon {
	fill: currentColor;
}


