.filter-set {
	max-width: 326px;
	margin-bottom: 40px;
	display: flex;
	gap: 8px;
	flex-wrap: wrap;

	@include tablet {
		max-width: 100%;
		margin-bottom: 30px;
		flex-wrap: nowrap;
		justify-content: center;
	    align-items: center;
	}

	@include desktop {
		margin-bottom: 50px;
	}
}

.filter-set__btn {
	padding: 6px 22px;
	display: block;
	@include font(500, 16px, calc(26 / 16), 0.03em);
	text-align: center;
	color: var(--secondary-text-color);
	background-color: var(--filter-btn-color);
	transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);

	&:hover,
    &:focus,
    &--current {
	color: var(--white-text-color);
	background-color: var(--accent-color);
	box-shadow: var(--filter-btn-shadow);
    }
}